.App {
  text-align: center;
  background-image: url('./assets/img/mexican_street.jpg');
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.sub-heading {
  font-family: 'Chango', cursive;
}

.legal-notice {
  font-family: 'Proza Libre', sans-serif;
  width: 40%;
  margin: 0 auto;
}

