.app {
  text-align: center;
  background-image: url('./assets/img/back-3.jpg');
  background-color:  rgba(0, 0, 0, .7);
  background-blend-mode: darken;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.sub-heading {
  font-family: 'Chango', cursive;
  color: wheat;
}

.legal-notice {
  font-family: 'Proza Libre', sans-serif;
  color: wheat;
  width: 60%;
  margin: 0 auto 36px auto;
}

.game-wrapper {
  width: 1024px;
  height: 768px;
  background-image: url('./assets/img/back-3.jpg');
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}